<div class="dropdown d-inline mx-3">
    <a class="btn btn-sm btn-outline-secondary dropdown-toggle"
                            data-toggle="dropdown"
                            href="#"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false"
                            >+</a>
      <div class="dropdown-menu dropdown-menu-right">
        <form method="POST" action="/public/translation/{{t.id}}/add" class="px-4 pt-1">
          <h6 class="dropdown-header">Add to phrasebook:</h6>
        
            {{save_translation_form.hidden_tag()}}


            {% for error in save_translation_form.phrasebooks.errors %}
                <span>{{ error }}</span>
            {% endfor %}


                  
            {% for p in save_translation_form.phrasebooks %}
            <div class="custom-control custom-checkbox mb-2 ">
              {{ p(class="custom-control-input", id=p.id+"_t-"+t.id|string) }}
              {{p.label(class="custom-control-label", for=p.id+"_t-"+t.id|string)}}
            </div>
            {% endfor %}
            

            <button type="submit" class="btn btn-sm btn-primary">Add</button>
            

          </form>
        
      </div>
  </div>
  
  
  
  