<div class="dropdown d-inline">
    <a class=" p-1 btn"
                            data-toggle="dropdown"
                            href="#"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false"
                            ><i class="fa-solid fa-pencil"></i></a>
    <div class="dropdown-menu">
        <h6 class="dropdown-header">Edit phrasebook</h6>

        <form method="POST" action="phrasebook/{{p.id}}/edit" class="px-4 pt-1">
        
            {{pb_edit_form.hidden_tag()}}
        
                  
            {{pb_edit_form.name(placeholder="Name", class="form-group d-inline", value=p.name)}}
            

            <div class="custom-control custom-checkbox mb-2 d-inline-block">
                {{pb_edit_form.public(class="custom-control-input", id="pb-"+p.id|string, checked=p.public)}}
                {{pb_edit_form.public.label(class="custom-control-label pl-0 ", for="pb-"+p.id|string)}}
            </div>
            
            <button type="submit" class="btn btn-sm btn-primary  ml-2">Edit</button>
            <div class="dropdown-divider "></div>
        </form>        

        
        <form action="phrasebook/{{p.id}}/delete" method="POST" class="px-4">
            <button class=" btn btn-sm btn-outline-danger ml-2 my-1"> Delete phrasebook </button>
        </form>
    </div>
</div>
    
