<div class="dropdown mt-2 ml-2 mr-4 d-inline-block">

    <a class=" text-secondary"
                            data-toggle="dropdown"
                            href="#"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false"
                            ><i class="fa-solid fa-filter"></i></a>
    <div class="dropdown-menu">
        <h6 class="dropdown-header">Filter by:</h6>

        <div class="dropdown-divider m-0"></div>

        <a  href="/filter/all" class="dropdown-item">Show all</a>

        <div class="dropdown-divider m-0"></div>

        
        {% for l in pb_langs %}
        <a  href="/filter/{{l}}" class="dropdown-item">
            {% for x,y in g.langs %}
                {% if l == x %}{{y}}{% endif %}
            {% endfor %}
        </a>
        {% endfor %}
      
          
    </div>
  </div>
      
  
  
  