<div class="dropdown mt-2 ml-3 mr-2 d-inline-block">

    <a class=" text-secondary"
                            data-toggle="dropdown"
                            href="#"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false"
                            ><i class="fa-solid fa-sort"></i></a>
    <div class="dropdown-menu">
        <h6 class="dropdown-header">Sort by</h6>
        <a  href="/sort/name" class="dropdown-item" id="nameSort">Name</a>
        <a  href="/sort/lang_to" class="dropdown-item" id="langSort">Language</a>
        <a  href="/sort/id" class="dropdown-item" id="idSort">Order added</a>

        
          
    </div>
  </div>
      
  
  
  