<div class="dropdown d-inline-block mx-3">

  <a class="text-secondary"
                          data-toggle="dropdown"
                          href="#"
                          role="button"
                          aria-haspopup="true"
                          aria-expanded="false"
                          ><i class="fa-solid fa-gear "></i></a>
    <div class="dropdown-menu">
      <form method="POST" action="user/edit" class="px-4 pt-1">
        <h6 class="dropdown-header">Edit username</h6>
      
          {{user_edit_form.hidden_tag()}}
      
          {% for field in user_edit_form if field.widget.input_type != 'hidden' %}
               {% for error in field.errors %}
              <span class="text-danger">{{ error }}</span>
                {% endfor %}
                
              {{ field(placeholder=field.label.text, class="form-group") }}
          {% endfor %}
          <button type="submit" class="btn btn-sm btn-primary">Submit</button>
          
          <div class="dropdown-divider "></div>
        </form>
      
        
        <!-- Modal -->
        <button type="button" class="btn btn-sm btn-outline-danger mx-4 my-2" data-toggle="modal" data-target="#exampleModal">
          Delete User
        </button>
        

        
      </div>
</div>
    


