{% extends 'base.html' %}

{% block content %}

<h1 class="display-5 mt-3  d-inline-block">{{g.user.username}}</h1> 

{% include "forms/user_edit.html" %}

<div class="d-flex  mt-3">
    <h2 class="d-inline-block ">Phrasebooks</h2>
    {% include "forms/sort.html" %}
    {% include "forms/filter.html" %}
    {% include "forms/add_phrasebook.html" %}
</div>


<div id="phrasebook-container">
    {% if g.user.phrasebooks %}
        {% include "/user/phrasebooks.html" %}
    {% endif %}
</div>




{% include "/forms/delete_user_modal.html" %}   

{% endblock content %}