<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Translate Buddy</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarColor03"
            aria-controls="navbarColor03"
            aria-expanded="true"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse hidden " id="navbarColor03" style="">
            
            {% if g.user %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="/public">Public phrasebooks</a>
                </li>
            </ul>
            {% endif %}
            
            <ul class="navbar-nav ml-auto">
                
            {% if not g.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                        data-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >Login</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% include "forms/login.html" %}
                    </div>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                        data-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >Register</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% include "forms/register.html" %}
                    </div>
                </li>
            {% else %}
                

                <li class="nav-item">
                    <a class="nav-link" href="/user">{{g.user.username}}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            {% endif %}
            </ul>
            
        </div>
    </div>
</nav>