{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <h2 class='d-inline-block'>Public Phrasebooks</h2>
    <div class="d-inline-block">
        {% include "forms/sort.html" %}
        {% include "forms/filter_public.html" %}
    </div>

    
    <div id="accordion">
            

        {% for p in public_pbs |sort(attribute=session["sort_public"])%}


            {% if p.user != g.user %}
        <div class="row">
            <div class="col-7 col-md-6 col-lg-5">
                <a
                class="btn btn-outline-secondary pb-button m-1 mr-2 "
                href="#phrasebook{{p.id}}"
                data-toggle="collapse"
                aria-expanded="false"
                aria-controls="phrasebook{{p.id}}">
                {{p.name}}
                    <span class="badge badge-primary badge-pill ml-2">{{p.translations | length}}</span>
                    <small>{{p.user.username}}</small>
                </a>
                </div>

            {% if p.lang_from %}
            <div class="col-5 col-md-6 col-lg-7">
                {% for x,y in g.langs %}
                    {% if p.lang_from == x %}<span class="badge badge-light">{{y}}</span>
                    > {% endif %}
                    {% if p.lang_to == x %}<span class="badge badge-secondary">{{y}}</span>{% endif %}
                {% endfor %}
            </div>
            {% endif %}

        </div>  

        
        <div class="container collapse " id="phrasebook{{p.id}}" data-parent="#accordion">
            <div class=" py-2">
                <table class="table table-sm mb-0 "> 
                    <tr class="m-0 p-0">
                        
                        <th scope="col" class="pl-3">From</th>
                        <th scope="col" class="pl-3">To</th>
                        <th scope="col" class="pl-3 fit">
                            <form action="/public/phrasebook/{{p.id}}/add" method="POST">
                                <button class="btn btn-sm btn-success">Copy phrasebook</button>
                            </form>
                        </th>
                      </tr>
                    <tbody>
                        {% for t in p.translations |sort(attribute='id') %}
                        <tr>
                            
                            <td class="pl-3 from">{{t.text_from}}</td>
                            <td class="pl-3 to">{{t.text_to}}</td>
                            <td class="p-0 m-0 ">
                                {% if p.user != g.user %}
                                {% include "/forms/add_public_translation.html" %}
                                {% endif %}
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock content %}
