<div id="translator">
    <div class="card bg-light mb-3" style="max-width: 20rem;">
        
        <label for="target_lang" class='card-header form-label '>Translate into:
            {{translate_form.target_lang}}
        </label>

        <div class="card-body">

            <form action="/translate" method="POST">
                
                {{translate_form.translate_text(class="form-control", 
                placeholder=translate_form.translate_text.label.text,
                cols="40", rows="5")}}

                <button type="submit" class="btn btn-primary mt-3">Translate</button>
    
            </form>
        </div>
      </div>
</div>
