<div id="translator" class="mt-4">
	{% if not g.user %}
<p class=' mb-1 ml-2'>Login or register to view and create phrasebooks!</p>
{% endif %}
	<div class="card bg-light mb-3 " style="max-width: 20rem">
		
		<div class="card-body">
			<form action="/translate" method="POST">
				{{translate_form.hidden_tag()}}
				{{translate_form.translate_text(class="form-control mb-2",
				placeholder=translate_form.translate_text.label.text, cols="40",
				rows="5", autofocus=true)}}

				<div class="d-flex justify-content-between">
					<div class="d-inline-block">
						{{translate_form.source_lang.label}} {{translate_form.source_lang}}
						<br />
						{{translate_form.target_lang.label}} {{translate_form.target_lang}}
					</div>

					<button type="submit" class="btn btn-primary mt-auto">
						Translate
					</button>
				</div>
			</form>
		</div>
	</div>


    
    {% if session['last_translation'] %}
		
	<h3>RESULT:</h3>
	
	<div class="card bg-light mb-3 p-3 d-inline-block" >
			<div class="d-flex">
				<span class="h5 ">{{session['last_translation'].text_to}}</span>
			
				{% if g.user %}
					{% include "/forms/add_translation.html" %}
					{% include "/forms/add_phrasebook.html" %}
				{% endif %}
				</div>
			</div>
		</div>

	{% endif %}

</div>
